@import './global.css';
@import './marquee.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

.brand_slider {
  clip-path: polygon(84% 0, 100% 40%, 100% 100%, 0 100%, 0 0);
}

.service_card_clip_path {
  clip-path: polygon(80% 0, 100% 20%, 100% 100%, 0 100%, 0 0);
}

/* .circle_container {
  background-color: yellow;
  padding: 5px;
}
.most_outer_circle {
  background-color: red;
  height: 80%;
  width: 80%;
}
.outer_circle {
  background-color: green;
  height: 80%;
  left: 15%;
  top: 10%;
} */

/* @media only screen and (min-width: 1500px) {
  .circle_container {
    height: 600px;
    width: 650px;
  }
}

@media only screen and (max-width: 1280px) {
  .circle_container {
    height: 600px;
    width: 650px;
  }
} */

/* @media only screen and (max-width: 920px) {
  .circle_container {
    height: 380px;
    width: 100%;
  }
}

@media only screen and (max-width: 620px) {
  .circle_container {
    height: 380px;
    width: 100%;
  }
}

@media only screen and (max-width: 500px) {
  .circle_container {
    height: 380px;
    width: 100%;
  }
}

@media only screen and (max-width: 420px) {
  .circle_container {
    height: 350px;
    width: 100%;
  }
}

@media only screen and (max-width: 220px) {
  .circle_container {
    height: 350px;
    width: 100%;
  }
} */
